*{
    margin: 0px;
    padding: 0px;
}
html{
    background: url(photo.jpeg) no-repeat center fixed;
    background-size: cover;
    font-weight: 100;
}
h1{
    text-align: center;
    color: white;
    margin: 10px;
}

form{
    height: 500px;
    width: 500px;
    text-align: left;
    color:white;
    margin-left: 500px;
}
div{
    margin-bottom: 10px;
    font-size: 1.1em;
}
button{
    text-align: center;
    color: white;
    background-color: rgb(4, 4, 73);
    width: 520px;
    height: 35px;
    font-size: 20px;
}
 
#box{
    margin-left: 250px;
}

.text input{
    height: 30px; 
    padding-left: 15px;
}




