*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #9cf0b7;
}
#main{
    height: 100%;
    width: 100%;
    color: #E6D9A2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Courier New', Courier, monospace;
}
h1{
    font-weight: bold;
}
.Shaper{
    margin: 10px;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background-color: #BF2EF0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#squar:hover{
    background-color:#8967B3;
}

#circle{
    border-radius: 50%;
}

#circle:hover{
    background-color:#CB80AB;
}

#diamond{
    margin-top: 40px;
    height: 141px;
    width: 141px;
    translate: 30px;
    rotate: 45deg;
}
#diamond:hover{
    background-color:#624E88;
}

#diamond h1{
    rotate: -45deg;
}